@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Poppins:wght@400;

500;600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background-color: #2f2105;
  border-radius: 33px;
  padding: 0.8125rem 2rem;
  -webkit-box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
          box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 49;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  background-color: #f9d9aa;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__actions {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  -webkit-filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
}

.menu {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.menu__link {
  line-height: 1.5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-header {
  background-color: #fff;
  padding: 0.6875rem 0.75rem;
  border-radius: 2.1875rem;
}

.icon-menu {
  display: none;
}

.main-block {
  background-color: #f7ebda;
}

.main-block__container {
  position: relative;
  padding-top: 9.875rem;
  padding-bottom: 24.75rem;
}

.main-block__left {
  z-index: 1;
}

.main-block__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  padding: 0.3125rem;
  max-width: 30.5625rem;
  margin-bottom: 1.5rem;
}

.main-block__title span {
  color: #ff912b;
}

.main-block__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  max-width: 393px;
  padding: 0.3125rem;
  margin-bottom: 2rem;
  color: #7e7d7a;
}

.main-block__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
}

.main-block__button_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.625rem;
  padding: 0.3125rem;
  border-radius: 50%;
  background-color: #ff912b;
}

.main-block__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  padding: 0.625rem 1.5rem;
  color: #ff912b;
}

.main-block__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32.875rem;
  height: 26rem;
  z-index: 1;
}

.main-block__info .info-block__item {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  padding: 0.625rem 3.125rem;
  border-radius: 42px;
  color: #2f2105;
  border: 6px solid rgba(253, 180, 112, 0.45);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px;
          box-shadow: 0px 0px 5px 0px;
}

.main-block__info .info-block__item_1 {
  top: 45px;
}

.main-block__info .info-block__item_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-block__info .info-block__item_3::before {
  content: url(../img/icon-star.svg);
  position: relative;
  top: 2px;
  margin-left: 0.25rem;
}

.main-block__background_01 {
  position: absolute;
  left: -9vw;
  top: 554px;
}

.main-block__background_02 {
  position: absolute;
  left: 50vw;
  top: -40px;
}

@media (min-width: 48rem) {
  .main-block__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 65.625em) {
  .main-block__info .info-block__item_1 {
    left: 0.0625rem;
  }

  .main-block__info .info-block__item_2 {
    top: 19.6875rem;
  }

  .main-block__info .info-block__item_2 {
    left: 3.75rem;
  }

  .main-block__info .info-block__item_3 {
    top: 6.5625rem;
  }

  .main-block__info .info-block__item_3 {
    left: 21.5625rem;
  }
}

@media (min-width: 73.125em) {
  .header__actions {
    gap: 1.5rem;
  }

  .header__button {
    margin-right: 1rem;
  }

  .menu__list {
    gap: 2rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }
}

@media (min-width: 75em) {
  .header {
    padding-top: 2.25rem;
  }

  .header {
    padding-bottom: 2.25rem;
  }

  .header._header-scroll {
    padding-top: 2.25rem;
  }

  .header._header-scroll {
    padding-bottom: 2.25rem;
  }
}

@media (max-width: 48em) {
  .menu__link {
    font-size: 0.9375rem;
  }
}

@media (max-width: 520px) {
  .header__actions {
    display: none;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.5625rem;
  }

  .header {
    padding-bottom: 1.5625rem;
  }

  .header._header-scroll {
    padding-top: 1.5625rem;
  }

  .header._header-scroll {
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #f7ebda;
    gap: 1.875rem;
    z-index: 3;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: #f9d9aa;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 2.5rem;
  }

  .form-header {
    margin-right: 20px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header {
      padding-top: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header {
      padding-top: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header {
      padding-bottom: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header {
      padding-bottom: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header._header-scroll {
      padding-top: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header._header-scroll {
      padding-top: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header._header-scroll {
      padding-bottom: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.25rem )) {
    .header._header-scroll {
      padding-bottom: calc(1.5625rem + 0.6875 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (width: clamp( 7.5rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem )) {
    .header__logo {
      width: clamp( 7.5rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem );
    }
}

@supports not (width: clamp( 7.5rem , 5.3571428571rem  +  4.4642857143vw , 9.375rem )) {
    .header__logo {
      width: calc(7.5rem + 1.875 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 48em) and (max-width: 73.125em) {
@supports (gap: clamp( 0.875rem , -0.3190298507rem  +  2.4875621891vw , 1.5rem )) {
    .header__actions {
      gap: clamp( 0.875rem , -0.3190298507rem  +  2.4875621891vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.875rem , -0.3190298507rem  +  2.4875621891vw , 1.5rem )) {
    .header__actions {
      gap: calc(0.875rem + 0.625 * (100vw - 48rem) / 25.125);
    }
}

@supports (margin-right: clamp( 0.5rem , -0.4552238806rem  +  1.9900497512vw , 1rem )) {
    .header__button {
      margin-right: clamp( 0.5rem , -0.4552238806rem  +  1.9900497512vw , 1rem );
    }
}

@supports not (margin-right: clamp( 0.5rem , -0.4552238806rem  +  1.9900497512vw , 1rem )) {
    .header__button {
      margin-right: calc(0.5rem + 0.5 * (100vw - 48rem) / 25.125);
    }
}

@supports (gap: clamp( 1.25rem , -0.1828358209rem  +  2.9850746269vw , 2rem )) {
    .menu__list {
      gap: clamp( 1.25rem , -0.1828358209rem  +  2.9850746269vw , 2rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.1828358209rem  +  2.9850746269vw , 2rem )) {
    .menu__list {
      gap: calc(1.25rem + 0.75 * (100vw - 48rem) / 25.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.5792910448rem  +  0.7462686567vw , 1.125rem )) {
    .menu__link {
      font-size: clamp( 0.9375rem , 0.5792910448rem  +  0.7462686567vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.5792910448rem  +  0.7462686567vw , 1.125rem )) {
    .menu__link {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 48rem) / 25.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__body {
    padding-top: 10rem;
  }

  .menu__body::before {
    height: 6.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (padding-top: clamp( 7.5rem , 5.7142857143rem  +  8.9285714286vw , 10rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 5.7142857143rem  +  8.9285714286vw , 10rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 5.7142857143rem  +  8.9285714286vw , 10rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 2.5 * (100vw - 20rem) / 28);
    }
}

@supports (height: clamp( 4.6875rem , 3.3482142857rem  +  6.6964285714vw , 6.5625rem )) {
    .menu__body::before {
      height: clamp( 4.6875rem , 3.3482142857rem  +  6.6964285714vw , 6.5625rem );
    }
}

@supports not (height: clamp( 4.6875rem , 3.3482142857rem  +  6.6964285714vw , 6.5625rem )) {
    .menu__body::before {
      height: calc(4.6875rem + 1.875 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 48em) and (max-width: 65.625em) {
@supports (left: clamp( 0.0625rem , 3.3204787234rem  +  -4.9645390071vw , 0.9375rem )) {
    .main-block__info .info-block__item_1 {
      left: clamp( 0.0625rem , 3.3204787234rem  +  -4.9645390071vw , 0.9375rem );
    }
}

@supports not (left: clamp( 0.0625rem , 3.3204787234rem  +  -4.9645390071vw , 0.9375rem )) {
    .main-block__info .info-block__item_1 {
      left: calc(0.9375rem + -0.875 * (100vw - 48rem) / 17.625);
    }
}

@supports (top: clamp( 19.6875rem , 24.3417553191rem  +  -7.0921985816vw , 20.9375rem )) {
    .main-block__info .info-block__item_2 {
      top: clamp( 19.6875rem , 24.3417553191rem  +  -7.0921985816vw , 20.9375rem );
    }
}

@supports not (top: clamp( 19.6875rem , 24.3417553191rem  +  -7.0921985816vw , 20.9375rem )) {
    .main-block__info .info-block__item_2 {
      top: calc(20.9375rem + -1.25 * (100vw - 48rem) / 17.625);
    }
}

@supports (left: clamp( 0.75rem , -7.420212766rem  +  17.0212765957vw , 3.75rem )) {
    .main-block__info .info-block__item_2 {
      left: clamp( 0.75rem , -7.420212766rem  +  17.0212765957vw , 3.75rem );
    }
}

@supports not (left: clamp( 0.75rem , -7.420212766rem  +  17.0212765957vw , 3.75rem )) {
    .main-block__info .info-block__item_2 {
      left: calc(0.75rem + 3 * (100vw - 48rem) / 17.625);
    }
}

@supports (top: clamp( 6.5625rem , 55.4321808511rem  +  -74.4680851064vw , 19.6875rem )) {
    .main-block__info .info-block__item_3 {
      top: clamp( 6.5625rem , 55.4321808511rem  +  -74.4680851064vw , 19.6875rem );
    }
}

@supports not (top: clamp( 6.5625rem , 55.4321808511rem  +  -74.4680851064vw , 19.6875rem )) {
    .main-block__info .info-block__item_3 {
      top: calc(19.6875rem + -13.125 * (100vw - 48rem) / 17.625);
    }
}

@supports (left: clamp( 12.1875rem , -13.3444148936rem  +  53.1914893617vw , 21.5625rem )) {
    .main-block__info .info-block__item_3 {
      left: clamp( 12.1875rem , -13.3444148936rem  +  53.1914893617vw , 21.5625rem );
    }
}

@supports not (left: clamp( 12.1875rem , -13.3444148936rem  +  53.1914893617vw , 21.5625rem )) {
    .main-block__info .info-block__item_3 {
      left: calc(12.1875rem + 9.375 * (100vw - 48rem) / 17.625);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #ff912b;
  }
}