// Заголовки, общие БЄМ блоки и проче...
.page {
  // .page__main
  &__main {
  }
  &__popular {
  }
}
//========================================================================================================================================================
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: $mainColor;
}
