.footer {
  background: $sectionTwoColor;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  @include adaptiveValue("padding-top", 55, 30, 2, 1200, 320);
  @include adaptiveValue("padding-left", 50, 40, 2, 1200, 320);
  @include adaptiveValue("padding-bottom", 55, 30, 2, 1200, 320);
  @include adaptiveValue("padding-right", 50, 40, 2, 1200, 320);

  h3 {
    color: $mainColor;
    font: normal 36px "Open Sans", cursive;
    margin: 0;
  }
  h3 span {
    color: $primaryColor;
  }

  // .footer__container
  &__container {
  }
  // .footer__left
  &__left {
    width: 40%;
  }
  // .footer__links
  &__links {
    color: $mainColor;
    margin: 20px 0 12px;
    padding: 0;

    a {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    a:before {
      content: "|";
      font-weight: 300;
      font-size: 20px;
      left: 0;
      color: $secondLightColor;
      display: inline-block;
      padding-right: 5px;
    }
  }
  // .footer__company-name
  &__company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  // .footer__center
  &__center {
    width: 35%;
    padding: 0 10px;

    & p {
      display: inline-block;
      color: $mainColor;
      font-weight: 400;
      vertical-align: middle;
      & a {
        color: $primaryColor;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  // .footer__nav
  &__nav {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  // .footer__right
  &__right {
    width: 20%;
  }
  // .footer__company-about
  &__company-about {
    line-height: 20px;
    color: $mainColor;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 25px;

    span {
      display: block;
      color: $primaryColor;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  // .footer__icons
  &__icons {
    a {
      display: inline-block;
      cursor: pointer;
      margin-right: 3px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  // .footer__icon
  &__icon {
  }

  & .footer__left,
  .footer__center,
  .footer__right {
    display: inline-block;
    vertical-align: top;
  }
}
// =======================================
@media (max-width: 1024px) {
  .footer {
    font: bold 14px sans-serif;
  }

  .footer .footer__left,
  .footer .footer__center,
  .footer .footer__right {
    display: block;
    width: 100%;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
