//========================================================================================================================================================
.main-block {
  background-color: $sectionColor;
  // .main-block__container
  &__container {
    position: relative;
    padding-top: 158px;
    padding-bottom: 396px;
    @include adaptiveValue("padding-top", 158, 100, 2, 1200, 320);
    @include adaptiveValue("padding-bottom", 396, 300, 2, 1200, 320);

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .main-block__left
  &__left {
    position: relative;
    z-index: 1;
    @media (max-width: $mobile) {
      @include adaptiveValue("margin-bottom", 60, 40, 2, 767, 320);
    }
  }

  // .main-block__title
  &__title {
    font-weight: 600;
    line-height: 1.5;
    padding: 5px;
    max-width: 489px;
    margin-bottom: 24px;
    @include adaptiveValue("font-size", 48, 40, 2, 1200, 320);
    & span {
      color: $primaryColor;
    }
  }

  // .main-block__text
  &__text {
    font-weight: 400;
    line-height: 1.5;
    max-width: 395px;
    padding: 5px;
    margin-bottom: 32px;
    color: $secondLightColor;
    @include adaptiveValue("font-size", 18, 16, 2, 1200, 320);

    @media (max-width: 450px) {
      color: $mainColor;
    }
  }

  // .main-block__box
  &__box {
    display: flex;
    align-items: center;
    gap: 26px;

    @media (max-width: 375px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  // .main-block__button
  &__button {
    border: 2px solid $secondColor;
    &:hover {
      color: $mainColor;
      border: 2px solid #ff912b;
      background-color: $sectionColor;
    }
    // .main-block__button_text
    &_text {
    }
    // .main-block__button_icon
    &_icon {
      display: flex;
      align-items: center;
      margin-left: 10px;
      padding: 5px;
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }

  // .main-block__link
  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 24px;
    border: 2px solid transparent;
    border-radius: 33px;
    color: $primaryColor;
    transition: all 0.3s ease 0s;

    &:hover {
      border: 2px solid #ff912b;
      border-radius: 33px;
    }
  }

  // .main-block__right
  &__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 416px;
    z-index: 1;

    @media (min-width: 768px) {
      width: 600px;
    }
    @media (max-width: $mobile) {
      @include adaptiveValue("margin-bottom", 60, 40, 2, 767, 320);
    }
  }

  // .main-block__img
  &__img {
  }

  // .main-block__info
  &__info {
    .info-block {
      // .info-block__filter
      &__filter {
        padding: 10px 50px;
        background-color: $lightColor;
        border-radius: 50px;
      }

      // .info-block__filter-icon
      &__filter-icon {
        display: flex;
        flex-direction: row-reverse;
        &::before {
          content: url(../img/main/main-icon-star.svg);
          position: relative;
          top: 2px;
          margin-left: 4px;
        }
      }

      // .info-block__item
      &__item {
        position: absolute;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        padding: 15px 6px;
        color: $secondColor;
        backdrop-filter: blur(4px);
        border-radius: 62px;
        filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.7) 0%,
          rgba(255, 255, 255, 0.4) 100%
        );
        transition: all 0.3s ease 0s;

        &:hover {
          transform: scale(1.07);
        }
        // .info-block__item_1
        &_1 {
          @include adaptiveValue("top", 20, 10, 2, 1050, 768);
          @include adaptiveValue("left", 40, 1, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 40, 30, 2, 767, 320);
            @include adaptiveValue("left", 120, 15, 2, 767, 320);
          }
        }

        // .info-block__item_2
        &_2 {
          @include adaptiveValue("top", 325, 345, 2, 1050, 768);
          @include adaptiveValue("left", 55, 5, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 310, 323, 2, 767, 320);
            @include adaptiveValue("left", 145, 3, 2, 767, 320);
          }
        }

        // .info-block__item_3
        &_3 {
          padding: 6px 6px;
          @include adaptiveValue("top", 105, 295, 2, 1100, 768);
          @include adaptiveValue("left", 415, 237, 2, 1100, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 105, 285, 2, 767, 320);
            @include adaptiveValue("left", 460, 113, 2, 767, 320);
          }
        }
      }
    }
  }

  // .main-block__background
  &__background {
    // .main-block__background_01
    &_01 {
      position: absolute;
      left: -9%;
      top: 554px;
      @media (max-width: 930px) {
        opacity: 0.65;
      }
    }
    // .main-block__background_02
    &_02 {
      position: absolute;
      left: 62%;
      top: -40px;
      @media (max-width: $mobile) {
        opacity: 0.65;
      }
    }
  }
}
//========================================================================================================================================================
.pupular {
  position: relative;
  // .pupular__container
  &__container {
    margin-top: -311px;
    @include adaptiveValue("margin-top", -311, -270, 0, 1440, 320);
  }

  // .pupular__title
  &__title {
    margin-bottom: 119px;
  }

  // .pupular__body
  &__body {
    border-radius: 64px;
    background-color: $sectionTwoColor;
    display: grid;
    justify-content: center;
    @include adaptiveValue("gap", 40, 25, 0, 1200, 768);
    grid-template-columns: repeat(auto-fill, 344px);

    @media (max-width: 375px) {
      grid-template-columns: repeat(auto-fill, 290px);
    }
  }

  // .pupular__column
  &__column {
    padding: 6px;
    margin-top: -87px;
    margin-bottom: 87px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
    backdrop-filter: blur(4px);
    border-radius: 12px;
  }

  // .pupular__item
  &__item {
  }

  .item-pupular {
    border-radius: 12px;
    background-color: $lightColor;

    // .item-pupular__link
    &__link {
      position: relative;
      display: flex;
      justify-content: center;
      @include adaptiveValue("padding-top", 24, 12, 0, 1440, 768);
      @include adaptiveValue("padding-left", 18, 12, 0, 1440, 768);
      @include adaptiveValue("padding-bottom", 19, 12, 0, 1440, 768);
      @include adaptiveValue("padding-right", 18, 12, 0, 1440, 768);

      &:hover img {
        transform: scale(1.03);
      }
      img {
        width: 100%;
        transition: all 0.3s ease 0s;
      }
    }

    // .item-pupular__ragint
    &__ragint {
    }

    // .item-pupular__content
    &__content {
      padding-bottom: 19px;
      @include adaptiveValue("padding-left", 31, 15, 0, 1440, 768);
      @include adaptiveValue("padding-right", 31, 15, 0, 1440, 768);
    }

    // .item-pupular__wrap
    &__wrap-content {
      display: flex;
      justify-content: space-between;
    }

    // .item-pupular__title
    &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 24, 18, 0, 1440, 768);
      line-height: 1.5;
      color: $secondColor;
    }

    // .item-pupular__text
    &__text {
      font-weight: 700;
      @include adaptiveValue("font-size", 24, 18, 0, 1440, 768);
      line-height: 1.5;
      color: $secondColor;
    }

    // .item-pupular__buttons
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 6px;
    }

    // .item-pupular__wrap-buttons
    &__wrap-buttons {
    }

    // .item-pupular__button
    &__button {
      font-weight: 600;
      @include adaptiveValue("font-size", 16, 14, 0, 1440, 768);
      line-height: 1.5;
      padding: 4px 12px;
      color: $primaryTwoColor;
      border: 2px solid $primaryTwoColor;
      border-radius: 8px;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $primaryColor;
        border-color: $primaryColor;
      }

      &_indent {
        @include adaptiveValue("margin-right", 24, 10, 0, 1440, 768);
      }
    }

    // .item-pupular__button-buy
    &__button-buy {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("width", 43, 37, 0, 1440, 768);
      @include adaptiveValue("height", 43, 37, 0, 1440, 768);
      border-radius: 50%;
      background-color: $primaryColor;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: $primaryTwoColor;
      }
    }
  }

  .rating-popular {
    // .rating-popular__body
    &__body {
      position: absolute;
      @include adaptiveValue("top", 37, 20, 0, 1440, 768);
      @include adaptiveValue("left", 35, 22, 0, 1440, 768);
      width: 70px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.4) 100%
      );
      backdrop-filter: blur(4px);
      border-radius: 27px;
    }

    // .rating-popular__text
    &__text {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding: 3px 10px;
      border-radius: 27px;
      color: $secondColor;
      background-color: $lightColor;

      &::before {
        position: relative;
        content: url(../img/icon-star.svg);
        margin-left: 4px;
        top: 1px;
      }
    }
  }
}
//========================================================================================================================================================
.service {
  @include adaptiveValue("padding-top", 120, 60, 0, 1440, 768);
  @include adaptiveValue("padding-bottom", 208, 40, 0, 1440, 320);

  // .service__container
  &__container {
  }
  // .service__title
  &__title {
    margin-bottom: 32px;
  }
  // .service__body
  &__body {
    display: flex;
    justify-content: space-around;

    @media (max-width: $mobile) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 255px);
    }
  }
  // .service__column
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
  }

  .column {
    // .column__img
    &__img {
      margin-bottom: 15px;
    }
    // .column__title
    &__title {
      @include adaptiveValue("font-size", 24, 18, 0, 1440, 768);
      font-weight: 600;
      line-height: 1.5;
      color: #2f2105;
      margin-bottom: 8px;
    }
    // .column__text
    &__text {
      font-weight: 400;
      @include adaptiveValue("font-size", 18, 14, 0, 1440, 768);
      line-height: 1.5;
    }
  }
}
//========================================================================================================================================================
.about {
  height: 484px;
  width: 100%;
  background-image: url(../img/about/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile) {
    height: 100%;
  }

  // .about__container
  &__container {
    @media (min-width: 768px) {
      position: relative;
    }
  }

  // .about__image
  &__image {
    position: absolute;
    margin-top: -88px;
    margin-bottom: 63px;
    width: 370px;
    @include adaptiveValue("left", 100, 20, 0, 1000, 768);
    padding: 6px 0;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.4) 100%
    );
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));

    & img {
      border-radius: 15px;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .about__contentf
  &__content {
    @media (min-width: 768px) {
      position: absolute;
      top: 84px;
      @include adaptiveValue("right", 40, 20, 0, 1200, 768);
    }
    @media (max-width: $mobile) {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      padding: 32px 0;
    }
  }

  // .about__title
  &__title {
    margin-bottom: 24px;
  }

  // .about__subtitle
  &__subtitle {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 20, 0, 1440, 768);
    line-height: 1.5;
    margin-bottom: 16px;

    @media (min-width: $mobile) {
      @include adaptiveValue("max-width", 348, 300, 0, 1440, 768);
    }
  }

  // .about__text
  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 16, 0, 1440, 768);
    line-height: 1.5;
    color: $secondLightColor;
    margin-bottom: 32px;

    @media (min-width: $mobile) {
      @include adaptiveValue("max-width", 478, 325, 0, 1440, 768);
    }
  }

  // .about__button
  &__button {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: $primaryColor;
    border: 2px solid transparent;
    transition: all 0.3s ease 0s;

    &:hover {
      border: 2px solid $primaryColor;
      background-color: transparent;
    }
  }
}
//========================================================================================================================================================
.special-menu {
  @include adaptiveValue("padding-top", 100, 60, 2, 1200, 320);
  @include adaptiveValue("padding-bottom", 100, 60, 2, 1200, 320);
  // .special-menu__container
  &__container {
  }

  // .special-menu__title
  &__title {
    margin-bottom: 32px;
  }

  // .special-menu__body
  &__body {
    display: grid;
    justify-content: center;
    @include adaptiveValue("gap", 40, 25, 0, 1200, 768);
    grid-template-columns: repeat(auto-fill, 344px);

    @media (max-width: 375px) {
      grid-template-columns: repeat(auto-fill, 290px);
    }
  }

  // .special-menu__columns
  &__columns {
  }

  // .special-menu__column
  &__column {
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
  }
  // .special-menu__item
  &__item {
  }

  .item-special-menu {
    border-radius: 12px;
    background-color: $lightColor;

    // .item-special-menu__link
    &__link {
      position: relative;
      display: flex;
      justify-content: center;
      @include adaptiveValue("padding-top", 24, 12, 0, 1440, 768);
      @include adaptiveValue("padding-left", 18, 12, 0, 1440, 768);
      @include adaptiveValue("padding-bottom", 19, 12, 0, 1440, 768);
      @include adaptiveValue("padding-right", 18, 12, 0, 1440, 768);

      &:hover img {
        transform: scale(1.03);
      }
      img {
        width: 100%;
        transition: all 0.3s ease 0s;
      }
    }
    // .item-special-menu__ragint
    &__ragint {
    }
    // .item-special-menu__content
    &__content {
      padding-bottom: 19px;
      @include adaptiveValue("padding-left", 31, 15, 0, 1440, 768);
      @include adaptiveValue("padding-right", 31, 15, 0, 1440, 768);
    }
    // .item-special-menu__wrap-content
    &__wrap-content {
      display: flex;
      justify-content: space-between;
    }
    // .item-special-menu__title
    &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 24, 18, 0, 1440, 768);
      line-height: 1.5;
      color: $secondColor;
    }
    // .item-special-menu__text
    &__text {
      font-weight: 700;
      @include adaptiveValue("font-size", 24, 18, 0, 1440, 768);
      line-height: 1.5;
      color: $secondColor;
    }
    // .item-special-menu__wrap
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 6px;
    }

    // .item-special-menu__descript
    &__descript {
      max-width: 162px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5;
      color: $secondLightColor;
    }

    // .item-special-menu__button-buy
    &__button-buy {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("width", 43, 37, 0, 1440, 768);
      @include adaptiveValue("height", 43, 37, 0, 1440, 768);
      border-radius: 50%;
      background-color: $primaryColor;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: $primaryThreeColor;
      }
    }
  }

  .rating-special-menu {
    // .rating-special-menu__body
    &__body {
      position: absolute;
      @include adaptiveValue("top", 37, 20, 0, 1440, 768);
      @include adaptiveValue("left", 35, 25, 0, 1440, 768);
      width: 70px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.4) 100%
      );
      backdrop-filter: blur(4px);
      border-radius: 27px;
    }
    // .rating-special-menu__text
    &__text {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding: 3px 10px;
      border-radius: 27px;
      color: $secondColor;
      background-color: $lightColor;

      &::before {
        position: relative;
        content: url(../img/icon-star.svg);
        margin-left: 4px;
        top: 1px;
      }
    }
  }
}
//========================================================================================================================================================
.feedbacks {
  max-width: 1440px;
  margin: auto;
  min-height: 484px;
  background-repeat: no-repeat;
  background-image: url(../img/feedbacks/bg-image-01.png);

  @media (min-width: $mobile) {
    position: relative;
  }
  @media (min-width: 1441px) {
    border-radius: 24px 0 0 24px;
  }
  @media (max-width: $mobile) {
    padding: 32px 0;
  }

  // .feedbacks__container
  &__container {
  }
  // .feedbacks__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $mobile) {
      position: relative;
    }
  }
  // .feedbacks__content
  &__content {
    @include adaptiveValue("left", 100, 20, 0, 1440, 320);

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: $mobile) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  // .feedbacks__title
  &__title {
    margin-bottom: 16px;
    text-align: center;
  }
  // .feedbacks__text
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $secondLightColor;

    @media (max-width: $mobile) {
      display: none;
    }
    @media (min-width: 768px) {
      max-width: 352px;
    }
  }

  .swiper {
    @media (max-width: 1379px) {
      width: 620px;
    }
    @media (max-width: 1099.98px) {
      width: 445px;
    }
    @media (max-width: 959.98px) {
      width: 310px;
    }
    @media (max-width: $mobile) {
      width: 280px;
    }
    // .swiper__column
    &__column {
    }
    // .swiper__image
    &__image img {
      padding: 6px;
      background-color: #ffd39062;
    }

    // .swiper__info
    &__info {
      position: absolute;
      left: 30px;
      bottom: 15px;
      border: 6px solid rgba(255, 211, 145, 0.62);
      border-radius: 8px;
    }

    .info-swiper {
      // .info-swiper__body
      &__body {
        width: 226.5px;
        padding: 12px;
        border-radius: 2px;
        background: $primaryThreeColor;
      }

      // .info-swiper__name
      &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
      }

      // .info-swiper__feetback
      &__feetback {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}
//========================================================================================================================================================
