.main-block {
  position: relative;
  background-color: $sectionColor;
  // .main-block__container
  &__container {
    display: flex;
    gap: rem(167);
    align-items: center;
    padding-top: rem(158);
    padding-bottom: rem(396);
  }
  // .main-block__left
  &__left {
  }
  // .main-block__title
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    max-width: rem(489);
    margin-bottom: rem(24);
    & span {
      color: $primaryColor;
    }
  }
  // .main-block__text
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    max-width: 393px;
    margin-bottom: rem(32);
    color: $secondLightColor;
  }
  // .main-block__box
  &__box {
    display: flex;
    align-items: center;
    gap: rem(26);
  }
  // .main-block__button
  &__button {
    // .main-block__button_text
    &_text {
    }
    // .main-block__button_icon
    &_icon {
      display: flex;
      align-items: center;
      margin-left: rem(10);
      padding: rem(5);
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }
  // .main-block__link
  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    padding: rem(10) rem(24);
    color: $primaryColor;
  }
  // .main-block__right
  &__right {
  }
  // .main-block__img
  &__img {
  }
  // .main-block__bg
  &__bg {
    // .main-block__bg_img
    &_img {
    }
  }
  // .main-block__info
  &__info {
    // .main-block__info_01
    &_01 {
    }
    // .main-block__info_02
    &_02 {
    }
    // .main-block__info_03
    &_03 {
    }
  }
  // .main-block__background
  &__background {
    // .main-block__background_01
    &_01 {
      position: absolute;
      left: 7px;
      top: 554px;
    }
    // .main-block__background_02
    &_02 {
      position: absolute;
      left: 922px;
      top: -34px;
    }
  }
}

//====================================================================================================
