//========================================================================================================================================================
.main-block {
  background-color: $sectionColor;
  // .main-block__container
  &__container {
    position: relative;
    padding-top: 158px;
    padding-bottom: 396px;
    @include adaptiveValue("padding-top", 158, 100, 2, 1200, 320);
    @include adaptiveValue("padding-bottom", 396, 300, 2, 1200, 320);

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .main-block__left
  &__left {
    z-index: 1;

    @media (max-width: $mobile) {
      margin-bottom: 80px;
      @include adaptiveValue("margin-bottom", 80, 30, 2, 767, 320);
    }
  }

  // .main-block__title
  &__title {
    font-weight: 600;
    line-height: 1.5;
    padding: 5px;
    max-width: 489px;
    margin-bottom: 24px;
    @include adaptiveValue("font-size", 48, 40, 2, 1200, 320);
    & span {
      color: $primaryColor;
    }
  }

  // .main-block__text
  &__text {
    font-weight: 400;
    line-height: 1.5;
    max-width: 395px;
    padding: 5px;
    margin-bottom: 32px;
    color: $secondLightColor;
    // @include adaptiveValue("font-size", 18, 16, 2, 1200, 320);
  }

  // .main-block__box
  &__box {
    display: flex;
    align-items: center;
    gap: 26px;

    @media (max-width: 375px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  // .main-block__button
  &__button {
    // .main-block__button_text
    &_text {
    }
    // .main-block__button_icon
    &_icon {
      display: flex;
      align-items: center;
      margin-left: 10px;
      padding: 5px;
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }

  // .main-block__link
  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 24px;
    color: $primaryColor;
  }

  // .main-block__right
  &__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 416px;
    z-index: 1;

    @media (min-width: 768px) {
      width: 600px;
    }
  }

  // .main-block__img
  &__img {
  }

  // .main-block__info
  &__info {
    .info-block {
      // .info-block__item
      &__item {
        position: absolute;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        padding: 10px 50px;
        border-radius: 42px;
        color: $secondColor;
        border: 6px solid rgba(253, 180, 112, 0.45);
        background-color: $lightColor;
        box-shadow: 0px 0px 5px 0px;

        // .info-block__item_1
        &_1 {
          @include adaptiveValue("top", 20, 10, 2, 1050, 768);
          @include adaptiveValue("left", 40, 1, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 40, 30, 2, 767, 320);
            @include adaptiveValue("left", 120, 15, 2, 767, 320);
          }
        }

        // .info-block__item_2
        &_2 {
          @include adaptiveValue("top", 325, 345, 2, 1050, 768);
          @include adaptiveValue("left", 55, 5, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 310, 323, 2, 767, 320);
            @include adaptiveValue("left", 145, 3, 2, 767, 320);
          }
        }

        // .info-block__item_3
        &_3 {
          display: flex;
          flex-direction: row-reverse;
          @include adaptiveValue("top", 105, 295, 2, 1100, 768);
          @include adaptiveValue("left", 415, 237, 2, 1100, 768);

          &::before {
            content: url(../img/icon-star.svg);
            position: relative;
            top: 2px;
            margin-left: 4px;
          }

          @media (max-width: $mobile) {
            // right: 30px;
            @include adaptiveValue("top", 105, 285, 2, 767, 320);
            @include adaptiveValue("left", 460, 113, 2, 767, 320);
          }
        }
      }
    }
  }

  // .main-block__background
  &__background {
    // .main-block__background_01
    &_01 {
      position: absolute;
      left: -9vw;
      top: 554px;
    }
    // .main-block__background_02
    &_02 {
      position: absolute;
      left: 50vw;
      top: -40px;
    }
  }
}
//========================================================================================================================================================
