//========================================================================================================================================================
.main-block {
  background-color: $sectionColor;
  // .main-block__container
  &__container {
    position: relative;
    padding-top: 158px;
    padding-bottom: 396px;
    @include adaptiveValue("padding-top", 158, 100, 2, 1200, 320);
    @include adaptiveValue("padding-bottom", 396, 300, 2, 1200, 320);

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .main-block__left
  &__left {
    position: relative;
    @media (max-width: $mobile) {
      margin-bottom: 80px;
      @include adaptiveValue("margin-bottom", 80, 30, 2, 767, 320);
      z-index: 1;
    }
  }

  // .main-block__title
  &__title {
    font-weight: 600;
    line-height: 1.5;
    padding: 5px;
    max-width: 489px;
    margin-bottom: 24px;
    @include adaptiveValue("font-size", 48, 40, 2, 1200, 320);
    & span {
      color: $primaryColor;
    }
  }

  // .main-block__text
  &__text {
    font-weight: 400;
    line-height: 1.5;
    max-width: 395px;
    padding: 5px;
    margin-bottom: 32px;
    color: $secondLightColor;
    @include adaptiveValue("font-size", 18, 16, 2, 1200, 320);

    @media (max-width: 450px) {
      color: $mainColor;
    }
  }

  // .main-block__box
  &__box {
    display: flex;
    align-items: center;
    gap: 26px;

    @media (max-width: 375px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  // .main-block__button
  &__button {
    &:hover {
      color: $primaryTwocolor;
    }
    // .main-block__button_text
    &_text {
    }
    // .main-block__button_icon
    &_icon {
      display: flex;
      align-items: center;
      margin-left: 10px;
      padding: 5px;
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }

  // .main-block__link
  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 24px;
    border: 2px solid transparent;
    border-radius: 33px;
    color: $primaryColor;
    transition: all 0.3s ease 0s;

    &:hover {
      border: 2px solid #ff912b;
      border-radius: 33px;
    }
  }

  // .main-block__right
  &__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 416px;
    z-index: 1;

    @media (min-width: 768px) {
      width: 600px;
    }
  }

  // .main-block__img
  &__img {
  }

  // .main-block__info
  &__info {
    .info-block {
      // .info-block__filter
      &__filter {
        padding: 10px 50px;
        background-color: $lightColor;
        border-radius: 50px;
      }

      // .info-block__filter-icon
      &__filter-icon {
        display: flex;
        flex-direction: row-reverse;
        &::before {
          content: url(../img/main/main-icon-star.svg);
          position: relative;
          top: 2px;
          margin-left: 4px;
        }
      }

      // .info-block__item
      &__item {
        position: absolute;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        padding: 15px 6px;
        color: $secondColor;
        backdrop-filter: blur(4px);
        border-radius: 62px;
        filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.7) 0%,
          rgba(255, 255, 255, 0.4) 100%
        );

        // .info-block__item_1
        &_1 {
          @include adaptiveValue("top", 20, 10, 2, 1050, 768);
          @include adaptiveValue("left", 40, 1, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 40, 30, 2, 767, 320);
            @include adaptiveValue("left", 120, 15, 2, 767, 320);
          }
        }

        // .info-block__item_2
        &_2 {
          @include adaptiveValue("top", 325, 345, 2, 1050, 768);
          @include adaptiveValue("left", 55, 5, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 310, 323, 2, 767, 320);
            @include adaptiveValue("left", 145, 3, 2, 767, 320);
          }
        }

        // .info-block__item_3
        &_3 {
          padding: 6px 6px;
          @include adaptiveValue("top", 105, 295, 2, 1100, 768);
          @include adaptiveValue("left", 415, 237, 2, 1100, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 105, 285, 2, 767, 320);
            @include adaptiveValue("left", 460, 113, 2, 767, 320);
          }
        }
      }
    }
  }

  // .main-block__background
  &__background {
    // .main-block__background_01
    &_01 {
      position: absolute;
      left: -9%;
      top: 554px;
    }
    // .main-block__background_02
    &_02 {
      position: absolute;
      left: 62%;
      top: -40px;
      @media (max-width: $mobile) {
        opacity: 0.65;
      }
    }
  }
}
//========================================================================================================================================================
.pupular {
  &::before {
    content: "";
    position: absolute;
    width: 90%;
    max-width: $maxWidth;
    height: 367px;
    left: 50%;
    top: 850px;
    border-radius: 64px;
    transform: translate(-50%, 0);
    background-color: $sectionTwoColor;
    // clip-path: polygon(0 -2%, 100% 30%, 100% 100%, 0% 100%);
  }
  // .pupular__container
  &__container {
    margin-top: -311px;
  }

  // .pupular__title
  &__title {
    margin-bottom: 32px;
  }

  // .pupular__body
  &__body {
    display: flex;
    justify-content: center;
    gap: 38px;
    flex-wrap: wrap;
  }

  // .pupular__column
  &__column {
    display: flex;
    justify-content: center;
    width: 355px;
    padding: 6px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
    backdrop-filter: blur(4px);
    border-radius: 12px;
  }

  // .pupular__item
  &__item {
  }
}

.item-pupular {
  width: 343px;
  border-radius: 12px;
  background-color: $lightColor;
  // .item-pupular__image
  &__image {
    position: relative;
    padding-top: 24px;
    display: flex;
    justify-content: center;
  }

  // .item-pupular__ragint
  &__ragint {
  }

  // .item-pupular__content
  &__content {
    padding: 19px 30px;
  }

  // .item-pupular__wrap
  &__wrap-content {
    display: flex;
    justify-content: space-between;
  }

  // .item-pupular__title
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: $secondColor;
  }

  // .item-pupular__text
  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: $secondColor;
  }

  // .item-pupular__buttons
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
  }

  // .item-pupular__wrap-buttons
  &__wrap-buttons {
  }

  // .item-pupular__button
  &__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 12px;
    color: $primaryTwocolor;
    border: 2px solid $primaryTwocolor;
    border-radius: 8px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $primaryColor;
      border-color: $primaryColor;
    }

    &_indent {
      margin-right: 24px;
    }
  }

  // .item-pupular__button-buy
  &__button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: $primaryColor;
  }
}

.ragint-popular {
  // .ragint-popular__body
  &__body {
    position: absolute;
    top: 31px;
    left: 28px;
    width: 70px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.4) 100%
    );
    backdrop-filter: blur(4px);
    border-radius: 27px;
  }

  // .ragint-popular__text
  &__text {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 3px 10px;
    border-radius: 27px;
    color: $secondColor;
    background-color: $lightColor;

    &::before {
      position: relative;
      content: url(../img/icon-star.svg);
      margin-left: 4px;
      top: 1px;
    }
  }
}

//========================================================================================================================================================
