.main-block {
  position: relative;
  background-color: $sectionColor;
  // .main-block__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(158);
    padding-bottom: rem(396);
  }
  // .main-block__left
  &__left {
  }
  // .main-block__title
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    max-width: rem(489);
    margin-bottom: rem(24);
    & span {
      color: $primaryColor;
    }
  }
  // .main-block__text
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    max-width: 393px;
    margin-bottom: rem(32);
    color: $secondLightColor;
  }
  // .main-block__box
  &__box {
    display: flex;
    align-items: center;
    gap: rem(26);
  }
  // .main-block__button
  &__button {
    // .main-block__button_text
    &_text {
    }
    // .main-block__button_icon
    &_icon {
      display: flex;
      align-items: center;
      margin-left: rem(10);
      padding: rem(5);
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }
  // .main-block__link
  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    padding: rem(10) rem(24);
    color: $primaryColor;
  }
  // .main-block__right
  &__right {
    position: relative;
    z-index: 1;
  }
  // .main-block__img
  &__img {
  }
  // .main-block__info
  &__info {
    .info-block {
      // .info-block__item
      &__item {
        position: absolute;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        padding: rem(10) rem(50);
        border-radius: 42px;
        color: $secondColor;
        border: 6px solid rgba(253, 180, 112, 0.45);
        background-color: $lightColor;
        // .info-block__item_1
        &_1 {
          top: 10px;
          left: -90px;
        }
        // .info-block__item_2
        &_2 {
          top: 285px;
          left: 0px;
        }
        // .info-block__item_3
        &_3 {
          top: 65px;
          left: 260px;
          display: flex;
          flex-direction: row-reverse;
          &::before {
            content: url(../img/icon-star.svg);
            position: relative;
            top: 2px;
            margin-left: rem(4);
          }
        }
      }
    }
  }
  // .main-block__background
  &__background {
    // .main-block__background_01
    &_01 {
      position: absolute;
      left: 7px;
      top: 554px;
    }
    // .main-block__background_02
    &_02 {
      position: absolute;
      left: 922px;
      top: -34px;
    }
  }
}

//====================================================================================================
