//========================================================================================================================================================
.main-block {
  background-color: $sectionColor;
  // .main-block__container
  &__container {
    position: relative;
    padding-top: rem(158);
    padding-bottom: rem(396);

    @media (min-width: rem(768)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .main-block__left
  &__left {
    z-index: 1;
  }

  // .main-block__title
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    padding: rem(5);
    max-width: rem(489);
    margin-bottom: rem(24);
    & span {
      color: $primaryColor;
    }
  }

  // .main-block__text
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    max-width: 393px;
    padding: rem(5);
    margin-bottom: rem(32);
    color: $secondLightColor;
  }

  // .main-block__box
  &__box {
    display: flex;
    align-items: center;
    gap: rem(26);
  }

  // .main-block__button
  &__button {
    // .main-block__button_text
    &_text {
    }
    // .main-block__button_icon
    &_icon {
      display: flex;
      align-items: center;
      margin-left: rem(10);
      padding: rem(5);
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }

  // .main-block__link
  &__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    padding: rem(10) rem(24);
    color: $primaryColor;
  }

  // .main-block__right
  &__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(416);
    z-index: 1;

    @media (min-width: em(768)) {
      width: rem(526);
    }
  }

  // .main-block__img
  &__img {
  }

  // .main-block__info
  &__info {
    .info-block {
      // .info-block__item
      &__item {
        position: absolute;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        padding: rem(10) rem(50);
        border-radius: 42px;
        color: $secondColor;
        border: 6px solid rgba(253, 180, 112, 0.45);
        background-color: $lightColor;
        box-shadow: 0px 0px 5px 0px;

        // .info-block__item_1
        &_1 {
          top: 45px;
          @include adaptiveValue("left", 1, 15, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 40, 30, 2, 767, 320);
            @include adaptiveValue("left", 120, 15, 2, 767, 320);
          }
        }

        // .info-block__item_2
        &_2 {
          @include adaptiveValue("top", 315, 335, 2, 1050, 768);
          @include adaptiveValue("left", 60, 12, 2, 1050, 768);

          @media (max-width: $mobile) {
            @include adaptiveValue("top", 310, 323, 2, 767, 320);
            @include adaptiveValue("left", 145, 3, 2, 767, 320);
          }
        }

        // .info-block__item_3
        &_3 {
          display: flex;
          flex-direction: row-reverse;
          @include adaptiveValue("top", 105, 315, 2, 1050, 768);
          @include adaptiveValue("left", 345, 195, 2, 1050, 768);

          &::before {
            content: url(../img/icon-star.svg);
            position: relative;
            top: 2px;
            margin-left: rem(4);
          }

          @media (max-width: $mobile) {
            // right: 30px;
            @include adaptiveValue("top", 105, 240, 2, 767, 320);
            @include adaptiveValue("left", 460, 113, 2, 767, 320);
            // @include adaptiveValue("top", 105, 240, 2, 767, 320);
            // @include adaptiveValue("left", 100, 113, 2, 767, 320);
          }
        }
      }
    }
  }

  // .main-block__background
  &__background {
    // .main-block__background_01
    &_01 {
      position: absolute;
      left: -9vw;
      top: 554px;
    }
    // .main-block__background_02
    &_02 {
      position: absolute;
      left: 50vw;
      top: -40px;
    }
  }
}
//========================================================================================================================================================
